In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud, STOPWORDS

%matplotlib inline

In [3]:
path = r"C:\Users\sahay\Desktop\aaryansh\amazon ml\dataset\train.csv"
data = pd.read_csv(path)
data.head()

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
0,1925202,ArtzFolio Tulip Flowers Blackout Curtain for D...,[LUXURIOUS & APPEALING: Beautiful custom-made ...,NaN,1650,2125.980000
1,2673191,Marks & Spencer Girls' Pyjama Sets T86_2561C_N...,"[Harry Potter Hedwig Pyjamas (6-16 Yrs),100% c...",NaN,2755,393.700000
2,2765088,PRIKNIK Horn Red Electric Air Horn Compressor ...,"[Loud Dual Tone Trumpet Horn, Compatible With ...","Specifications: Color: Red, Material: Aluminiu...",7537,748.031495
3,1594019,ALISHAH Women's Cotton Ankle Length Leggings C...,[Made By 95%cotton and 5% Lycra which gives yo...,AISHAH Women's Lycra Cotton Ankel Leggings. Br...,2996,787.401574
4,283658,The United Empire Loyalists: A Chronicle of th...,NaN,NaN,6112,598.424000

In [42]:
data.shape

(2249686, 6)

In [4]:
na_value_df=data.isna().sum().reset_index()
na_value_df.columns=["Features","Missing_Values"]
na_value_df['Percentage %']=(na_value_df.Missing_Values/len(data))*100
na_value_df

          Features  Missing_Values  Percentage %
0       PRODUCT_ID               0      0.000000
1            TITLE              12      0.000533
2    BULLET_POINTS          837364     37.221174
3      DESCRIPTION         1157381     51.446061
4  PRODUCT_TYPE_ID               0      0.000000
5   PRODUCT_LENGTH               0      0.000000

In [9]:
# Drop title as only 12 na values.
data = data.dropna(subset = ["TITLE"])

In [10]:
data['TITLE'].isna().sum()

0

In [41]:
len(data[data[["BULLET_POINTS","DESCRIPTION"]].isna().all(axis=1)])/len(data)*100

34.826949183130445

In [13]:
# Getting number of rows where both description & bullet points are empty
data_empty = data[(data['BULLET_POINTS'].isnull() == True ) & (data['DESCRIPTION'].isnull == True)]

In [14]:
data_empty

Empty DataFrame
Columns: [PRODUCT_ID, TITLE, BULLET_POINTS, DESCRIPTION, PRODUCT_TYPE_ID, PRODUCT_LENGTH]
Index: []

In [15]:
# No entries have both description & bulletpoints emppty.

In [33]:
product_type = list(data['PRODUCT_TYPE_ID'].value_counts())
product_type = [i for i in product_type if i > 10]
len(product_type)

6587

In [23]:
# ~6k entries have less than or equal to 10 observations

In [30]:
product_type = list(data['PRODUCT_TYPE_ID'].value_counts())
product_type = [i for i in product_type if i > 100]
len(product_type)

2259

In [25]:
# 2259 unique product type ids with count greater than 100

In [26]:
product_type = list(data['PRODUCT_TYPE_ID'].value_counts())
product_type = [i for i in product_type if i > 500]
len(product_type)

684

In [27]:
# 684 unique product type ids with count greater than 100

In [34]:
data_count = data[data['PRODUCT_TYPE_ID'].isin(product_type)]
data_count

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
0,1925202,ArtzFolio Tulip Flowers Blackout Curtain for D...,[LUXURIOUS & APPEALING: Beautiful custom-made ...,NaN,1650,2125.980000
6,413758,Ungifted: My Life and Journey,NaN,NaN,23,598.000000
13,1991694,Mediterranean diet for beginners: 7Benefits of...,NaN,NaN,32,600.000000
19,793582,MASTER OF THE RINGS,NaN,MASTER OF THE RINGS,716,750.000000
24,748018,"Peru, Los Senderos Posibles",NaN,NaN,115,527.558000
...,...,...,...,...,...,...
2249688,575288,Along a Burning Highway,NaN,Welcome to the wonderfully Wicked World of Aut...,123,598.424000
2249689,1616561,Have It Tall Men's Curved Hem Long Drop Tail T...,[Light Weight 65% Polyester/ 35% Ring Spun Cot...,This extra long Tall t-Shirt will be your favo...,2879,1200.000000
2249690,1096345,United Colors of Benetton United Dreams Love Y...,[Quantity: 80ml; The new floral and feminine f...,NaN,253,600.000000
2249694,2766635,"(3PCS) Goose Game Cute Cartoon Enamel Pins, Fu...",[❤ [Inspiration] Inspired by the Untitled Goos...,<p><b>[Brand]: </b>XVIEONR</p> <p><br></p> <p>...,3413,125.984252
2249696,1165754,Electro Voice EKX-BRKT15 | Wall Mount Bracket ...,NaN,NaN,592,2900.000000

In [35]:
data_count.shape

(504836, 6)

In [36]:
product_type = list(data['PRODUCT_TYPE_ID'].value_counts())
product_type = [i for i in product_type if i <= 10]
len(product_type)

6320

In [37]:
data_count = data[data['PRODUCT_TYPE_ID'].isin(product_type)]
data_count

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
11,833712,La Mure / Valbonnais gps,NaN,NaN,1,433.070
12,648364,J'ecris des lettres! premiers exercices d'écri...,NaN,NaN,1,759.841
15,1810976,"Stone & Beam Fan Embossed Planter in Blue, Medium",NaN,NaN,6,670.000
22,655356,100 clés des villes sœurs. Eu - Le Tréport - M...,NaN,NaN,1,539.369
45,699328,Duden Kindergarten Lexikon,NaN,NaN,1,909.447
...,...,...,...,...,...,...
2249600,1346248,Morning Song,NaN,NaN,7,551.180
2249603,1233590,Smonet Luxury PU Leather Rectangular Tissue Na...,NaN,NaN,6,1000.000
2249639,642145,Les natures en question - colloque de rentrée ...,NaN,NaN,1,570.865
2249645,688592,Estudio comparado. Proceso de certificación de...,NaN,NaN,1,591.000
2249673,627908,Ma main dans ta nuque,NaN,NaN,1,528.000